@import '../../theme/mixins.scss';

.header {
  grid-area: header;

  display: flex;
  align-items: center;

  z-index: 2;

  @include shadowed;
}

.logo-img {
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin-left: 24px;
  color: black;
}

.logo-text {
  height: 18px;
  margin-left: 8px;
}
