@import '../../theme/mixins.scss';
@import '../../index.scss';

.sidebar {
  grid-area: sidebar;

  padding-top: $content-padding;

  position: relative;

  @include shadowed;
}

.menu {
  position: sticky;
  top: 0;
  border-right: 0;
}